# Optional Task 5 (Bonus)
Author: [Julia Fangman](https://github.com/juliafangman)
Repo: [datafun-04-notebooks](https://github.com/juliafangman/datafun-04-notebooks)

Date: August 15, 2023

## Create Contact list and DataFrame

In [7]:
import pandas as pd
contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'], ['Sue Brown', 'demo2deitel.com', '5555551234']]
contactsdf = pd.DataFrame(contacts,
                          columns=['Name', 'Email', 'Phone'])
contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown   demo2deitel.com  5555551234

## Using regex and map()

In [8]:
import re

def get_formatted_phone(value):
        result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
        return '-'.join(result.groups()) if result else value

formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

contactsdf['Phone'] = formatted_phone
contactsdf

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  555-555-5555
1   Sue Brown   demo2deitel.com  555-555-1234


```shell
jupyter nbconvert --execute xtra_p4.ipynb
```